@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-CwIBAEk5G: 200px;
  --plasmic-token-unnamed-style-token: var(--token-CwIBAEk5G);
}

.plasmic_default_styles {
  --mixin-vDYWMhHV-QJ2_font-family: "Inter";
  --mixin-vDYWMhHV-QJ2_font-size: 16px;
  --mixin-vDYWMhHV-QJ2_font-weight: 400;
  --mixin-vDYWMhHV-QJ2_font-style: normal;
  --mixin-vDYWMhHV-QJ2_color: #535353;
  --mixin-vDYWMhHV-QJ2_text-align: left;
  --mixin-vDYWMhHV-QJ2_text-transform: none;
  --mixin-vDYWMhHV-QJ2_line-height: 1.5;
  --mixin-vDYWMhHV-QJ2_letter-spacing: normal;
  --mixin-vDYWMhHV-QJ2_white-space: pre-wrap;
  --mixin-vDYWMhHV-QJ2_user-select: text;
  --mixin-vDYWMhHV-QJ2_text-decoration-line: none;
  --mixin-vDYWMhHV-QJ2_text-overflow: clip;
  --mixin-bh0ktqkYXmMl_color: #000000;
  --mixin-bh0ktqkYXmMl_font-weight: 900;
  --mixin-bh0ktqkYXmMl_font-size: 72px;
  --mixin-bh0ktqkYXmMl_line-height: 1;
  --mixin-bh0ktqkYXmMl_letter-spacing: -4px;
  --mixin-058yO8fSBvMU_font-family: "Inter";
  --mixin-058yO8fSBvMU_color: #000000;
  --mixin-058yO8fSBvMU_font-size: 48px;
  --mixin-058yO8fSBvMU_font-weight: 700;
  --mixin-058yO8fSBvMU_letter-spacing: -1px;
  --mixin-058yO8fSBvMU_line-height: 1.1;
  --mixin-zxpVMv5cLE75_color: #0070f3;
  --mixin-sHKmBEeHUbFs_font-family: "Inter";
  --mixin-sHKmBEeHUbFs_color: #000000;
  --mixin-sHKmBEeHUbFs_font-size: 32px;
  --mixin-sHKmBEeHUbFs_font-weight: 600;
  --mixin-sHKmBEeHUbFs_letter-spacing: -0.8px;
  --mixin-sHKmBEeHUbFs_line-height: 1.2;
  --mixin-Kk3ElU9We7eq_font-family: "Inter";
  --mixin-Kk3ElU9We7eq_color: #000000;
  --mixin-Kk3ElU9We7eq_font-size: 24px;
  --mixin-Kk3ElU9We7eq_font-weight: 600;
  --mixin-Kk3ElU9We7eq_letter-spacing: -0.5px;
  --mixin-Kk3ElU9We7eq_line-height: 1.3;
  --mixin-20SxLPsXlihR_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-20SxLPsXlihR_border-bottom-color: #dddddd;
  --mixin-20SxLPsXlihR_border-bottom-style: solid;
  --mixin-20SxLPsXlihR_border-bottom-width: 1px;
  --mixin-20SxLPsXlihR_border-left-color: #dddddd;
  --mixin-20SxLPsXlihR_border-left-style: solid;
  --mixin-20SxLPsXlihR_border-left-width: 1px;
  --mixin-20SxLPsXlihR_border-right-color: #dddddd;
  --mixin-20SxLPsXlihR_border-right-style: solid;
  --mixin-20SxLPsXlihR_border-right-width: 1px;
  --mixin-20SxLPsXlihR_border-top-color: #dddddd;
  --mixin-20SxLPsXlihR_border-top-style: solid;
  --mixin-20SxLPsXlihR_border-top-width: 1px;
  --mixin-20SxLPsXlihR_border-bottom-left-radius: 3px;
  --mixin-20SxLPsXlihR_border-bottom-right-radius: 3px;
  --mixin-20SxLPsXlihR_border-top-left-radius: 3px;
  --mixin-20SxLPsXlihR_border-top-right-radius: 3px;
  --mixin-20SxLPsXlihR_font-family: "Inconsolata";
  --mixin-20SxLPsXlihR_padding-bottom: 1px;
  --mixin-20SxLPsXlihR_padding-left: 4px;
  --mixin-20SxLPsXlihR_padding-right: 4px;
  --mixin-20SxLPsXlihR_padding-top: 1px;
  --mixin-X7DUnz38HK-w_border-left-color: #dddddd;
  --mixin-X7DUnz38HK-w_border-left-style: solid;
  --mixin-X7DUnz38HK-w_border-left-width: 3px;
  --mixin-X7DUnz38HK-w_color: #888888;
  --mixin-X7DUnz38HK-w_padding-left: 10px;
  --mixin-Hf1VkSIdjqhm_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Hf1VkSIdjqhm_border-bottom-color: #dddddd;
  --mixin-Hf1VkSIdjqhm_border-bottom-style: solid;
  --mixin-Hf1VkSIdjqhm_border-bottom-width: 1px;
  --mixin-Hf1VkSIdjqhm_border-left-color: #dddddd;
  --mixin-Hf1VkSIdjqhm_border-left-style: solid;
  --mixin-Hf1VkSIdjqhm_border-left-width: 1px;
  --mixin-Hf1VkSIdjqhm_border-right-color: #dddddd;
  --mixin-Hf1VkSIdjqhm_border-right-style: solid;
  --mixin-Hf1VkSIdjqhm_border-right-width: 1px;
  --mixin-Hf1VkSIdjqhm_border-top-color: #dddddd;
  --mixin-Hf1VkSIdjqhm_border-top-style: solid;
  --mixin-Hf1VkSIdjqhm_border-top-width: 1px;
  --mixin-Hf1VkSIdjqhm_border-bottom-left-radius: 3px;
  --mixin-Hf1VkSIdjqhm_border-bottom-right-radius: 3px;
  --mixin-Hf1VkSIdjqhm_border-top-left-radius: 3px;
  --mixin-Hf1VkSIdjqhm_border-top-right-radius: 3px;
  --mixin-Hf1VkSIdjqhm_font-family: "Inconsolata";
  --mixin-Hf1VkSIdjqhm_padding-bottom: 3px;
  --mixin-Hf1VkSIdjqhm_padding-left: 6px;
  --mixin-Hf1VkSIdjqhm_padding-right: 6px;
  --mixin-Hf1VkSIdjqhm_padding-top: 3px;
  --mixin-ysyajNJjCkThe_display: flex;
  --mixin-ysyajNJjCkThe_flex-direction: column;
  --mixin-ysyajNJjCkThe_align-items: stretch;
  --mixin-ysyajNJjCkThe_justify-content: flex-start;
  --mixin-ysyajNJjCkThe_list-style-position: outside;
  --mixin-ysyajNJjCkThe_padding-left: 40px;
  --mixin-ysyajNJjCkThe_position: relative;
  --mixin-ysyajNJjCkThe_list-style-type: disc;
  --mixin-McT2lgYf1hZQ7_display: flex;
  --mixin-McT2lgYf1hZQ7_flex-direction: column;
  --mixin-McT2lgYf1hZQ7_align-items: stretch;
  --mixin-McT2lgYf1hZQ7_justify-content: flex-start;
  --mixin-McT2lgYf1hZQ7_list-style-position: outside;
  --mixin-McT2lgYf1hZQ7_padding-left: 40px;
  --mixin-McT2lgYf1hZQ7_position: relative;
  --mixin-McT2lgYf1hZQ7_list-style-type: decimal;
  --mixin-DSRNBJpetUzZI_font-family: "Inter";
  --mixin-DSRNBJpetUzZI_color: #000000;
  --mixin-DSRNBJpetUzZI_font-size: 20px;
  --mixin-DSRNBJpetUzZI_font-weight: 600;
  --mixin-DSRNBJpetUzZI_letter-spacing: -0.3px;
  --mixin-DSRNBJpetUzZI_line-height: 1.5;
  --mixin-J7q1x1_Ju11A5_font-family: "Inter";
  --mixin-J7q1x1_Ju11A5_color: #000000;
  --mixin-J7q1x1_Ju11A5_font-size: 16px;
  --mixin-J7q1x1_Ju11A5_font-weight: 600;
  --mixin-J7q1x1_Ju11A5_line-height: 1.5;
  --mixin-x6myVzvTDWEFo_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-vDYWMhHV-QJ2_font-family);
  font-size: var(--mixin-vDYWMhHV-QJ2_font-size);
  font-weight: var(--mixin-vDYWMhHV-QJ2_font-weight);
  font-style: var(--mixin-vDYWMhHV-QJ2_font-style);
  color: var(--mixin-vDYWMhHV-QJ2_color);
  text-align: var(--mixin-vDYWMhHV-QJ2_text-align);
  text-transform: var(--mixin-vDYWMhHV-QJ2_text-transform);
  line-height: var(--mixin-vDYWMhHV-QJ2_line-height);
  letter-spacing: var(--mixin-vDYWMhHV-QJ2_letter-spacing);
  white-space: var(--mixin-vDYWMhHV-QJ2_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-bh0ktqkYXmMl_color);
  font-weight: var(--mixin-bh0ktqkYXmMl_font-weight);
  font-size: var(--mixin-bh0ktqkYXmMl_font-size);
  line-height: var(--mixin-bh0ktqkYXmMl_line-height);
  letter-spacing: var(--mixin-bh0ktqkYXmMl_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-058yO8fSBvMU_font-family);
  color: var(--mixin-058yO8fSBvMU_color);
  font-size: var(--mixin-058yO8fSBvMU_font-size);
  font-weight: var(--mixin-058yO8fSBvMU_font-weight);
  letter-spacing: var(--mixin-058yO8fSBvMU_letter-spacing);
  line-height: var(--mixin-058yO8fSBvMU_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-zxpVMv5cLE75_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-sHKmBEeHUbFs_font-family);
  color: var(--mixin-sHKmBEeHUbFs_color);
  font-size: var(--mixin-sHKmBEeHUbFs_font-size);
  font-weight: var(--mixin-sHKmBEeHUbFs_font-weight);
  letter-spacing: var(--mixin-sHKmBEeHUbFs_letter-spacing);
  line-height: var(--mixin-sHKmBEeHUbFs_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-Kk3ElU9We7eq_font-family);
  color: var(--mixin-Kk3ElU9We7eq_color);
  font-size: var(--mixin-Kk3ElU9We7eq_font-size);
  font-weight: var(--mixin-Kk3ElU9We7eq_font-weight);
  letter-spacing: var(--mixin-Kk3ElU9We7eq_letter-spacing);
  line-height: var(--mixin-Kk3ElU9We7eq_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-20SxLPsXlihR_background);
  font-family: var(--mixin-20SxLPsXlihR_font-family);
  border-radius: var(--mixin-20SxLPsXlihR_border-top-left-radius)
    var(--mixin-20SxLPsXlihR_border-top-right-radius)
    var(--mixin-20SxLPsXlihR_border-bottom-right-radius)
    var(--mixin-20SxLPsXlihR_border-bottom-left-radius);
  padding: var(--mixin-20SxLPsXlihR_padding-top)
    var(--mixin-20SxLPsXlihR_padding-right)
    var(--mixin-20SxLPsXlihR_padding-bottom)
    var(--mixin-20SxLPsXlihR_padding-left);
  border-top: var(--mixin-20SxLPsXlihR_border-top-width)
    var(--mixin-20SxLPsXlihR_border-top-style)
    var(--mixin-20SxLPsXlihR_border-top-color);
  border-right: var(--mixin-20SxLPsXlihR_border-right-width)
    var(--mixin-20SxLPsXlihR_border-right-style)
    var(--mixin-20SxLPsXlihR_border-right-color);
  border-bottom: var(--mixin-20SxLPsXlihR_border-bottom-width)
    var(--mixin-20SxLPsXlihR_border-bottom-style)
    var(--mixin-20SxLPsXlihR_border-bottom-color);
  border-left: var(--mixin-20SxLPsXlihR_border-left-width)
    var(--mixin-20SxLPsXlihR_border-left-style)
    var(--mixin-20SxLPsXlihR_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-X7DUnz38HK-w_color);
  padding-left: var(--mixin-X7DUnz38HK-w_padding-left);
  border-left: var(--mixin-X7DUnz38HK-w_border-left-width)
    var(--mixin-X7DUnz38HK-w_border-left-style)
    var(--mixin-X7DUnz38HK-w_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-Hf1VkSIdjqhm_background);
  font-family: var(--mixin-Hf1VkSIdjqhm_font-family);
  border-radius: var(--mixin-Hf1VkSIdjqhm_border-top-left-radius)
    var(--mixin-Hf1VkSIdjqhm_border-top-right-radius)
    var(--mixin-Hf1VkSIdjqhm_border-bottom-right-radius)
    var(--mixin-Hf1VkSIdjqhm_border-bottom-left-radius);
  padding: var(--mixin-Hf1VkSIdjqhm_padding-top)
    var(--mixin-Hf1VkSIdjqhm_padding-right)
    var(--mixin-Hf1VkSIdjqhm_padding-bottom)
    var(--mixin-Hf1VkSIdjqhm_padding-left);
  border-top: var(--mixin-Hf1VkSIdjqhm_border-top-width)
    var(--mixin-Hf1VkSIdjqhm_border-top-style)
    var(--mixin-Hf1VkSIdjqhm_border-top-color);
  border-right: var(--mixin-Hf1VkSIdjqhm_border-right-width)
    var(--mixin-Hf1VkSIdjqhm_border-right-style)
    var(--mixin-Hf1VkSIdjqhm_border-right-color);
  border-bottom: var(--mixin-Hf1VkSIdjqhm_border-bottom-width)
    var(--mixin-Hf1VkSIdjqhm_border-bottom-style)
    var(--mixin-Hf1VkSIdjqhm_border-bottom-color);
  border-left: var(--mixin-Hf1VkSIdjqhm_border-left-width)
    var(--mixin-Hf1VkSIdjqhm_border-left-style)
    var(--mixin-Hf1VkSIdjqhm_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-ysyajNJjCkThe_display);
  flex-direction: var(--mixin-ysyajNJjCkThe_flex-direction);
  align-items: var(--mixin-ysyajNJjCkThe_align-items);
  justify-content: var(--mixin-ysyajNJjCkThe_justify-content);
  list-style-position: var(--mixin-ysyajNJjCkThe_list-style-position);
  padding-left: var(--mixin-ysyajNJjCkThe_padding-left);
  position: var(--mixin-ysyajNJjCkThe_position);
  list-style-type: var(--mixin-ysyajNJjCkThe_list-style-type);
  flex-column-gap: var(--mixin-ysyajNJjCkThe_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-McT2lgYf1hZQ7_display);
  flex-direction: var(--mixin-McT2lgYf1hZQ7_flex-direction);
  align-items: var(--mixin-McT2lgYf1hZQ7_align-items);
  justify-content: var(--mixin-McT2lgYf1hZQ7_justify-content);
  list-style-position: var(--mixin-McT2lgYf1hZQ7_list-style-position);
  padding-left: var(--mixin-McT2lgYf1hZQ7_padding-left);
  position: var(--mixin-McT2lgYf1hZQ7_position);
  list-style-type: var(--mixin-McT2lgYf1hZQ7_list-style-type);
  flex-column-gap: var(--mixin-McT2lgYf1hZQ7_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-DSRNBJpetUzZI_font-family);
  color: var(--mixin-DSRNBJpetUzZI_color);
  font-size: var(--mixin-DSRNBJpetUzZI_font-size);
  font-weight: var(--mixin-DSRNBJpetUzZI_font-weight);
  letter-spacing: var(--mixin-DSRNBJpetUzZI_letter-spacing);
  line-height: var(--mixin-DSRNBJpetUzZI_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-J7q1x1_Ju11A5_font-family);
  color: var(--mixin-J7q1x1_Ju11A5_color);
  font-size: var(--mixin-J7q1x1_Ju11A5_font-size);
  font-weight: var(--mixin-J7q1x1_Ju11A5_font-weight);
  line-height: var(--mixin-J7q1x1_Ju11A5_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-x6myVzvTDWEFo_color);
}
